@import 'tailwindcss';

@source "../../../../app/components/**/*.html.erb";
@source "../../../../app/helpers/**/*.rb";
@source "../../../../app/views/**/*.html.erb";
@source "../../../../app/views/**/*.rb";

@plugin "daisyui";
